
@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@900&display=swap');

.App {
  text-align: center;
}

.mapid {
  height: 400px;

}

body{
  overflow: auto;
}

.leaflet-container{
  height: 850px;
  width: 100%;
  border-radius: 10px;
}